.left-panel
	{
		width: 20%;
		height: 100vh;
		float: left;
		background-color: black;
	}
	.right-panel
	{
		width: 80%;
		height: 100vh;
		padding-right: 20px;
		float: right;
		background-color: #d24dff;
	}
	.left-panel-menu a
	{
		font-size: 20px;
		margin-left: 30px;
		margin-top: 80px;
	}
	a:link
	{
    	color: white;
    	background-color: transparent;
    	text-decoration: none;
	}
a:visited
{
    color: white;
    background-color: white;
    text-decoration: none;

}
a:hover
{
    color: red;
}

.sgp_form
    {
      width: 60vw;
      height: 70vh;
      margin-left: 10vw;
      margin-top: 10vh;
      padding-left: 250px;
      padding-top: 60px;
      border: solid;
      border-color: white;
      border-width: 5px;
      border-radius: 60px;
    }

    .sgp_form input[type="text"], input[type="email"], input[type="password"] {
 width: 300px;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 border-bottom: 2px;
 border-style: solid;
 border-color: black;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color:  #d24dff;
}