body
    {
      background-color: #d24dff;
    }
    .sgp_form
    {
      width: 60vw;
      height: 70vh;
      margin-left: 20vw;
      margin-top: 10vh;
      padding-left: 250px;
      padding-top: 60px;
      border: solid;
      border-color: white;
      border-width: 5px;
      border-radius: 60px;
    }

    .sgp_form input[type="text"], input[type="email"], input[type="password"] {
 width: 300px;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 border-bottom: 2px;
 border-style: solid;
 border-color: black;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color:  #d24dff;
}