{% extends "dashboard-base.html" %}

{% block right_panel %}
	<div class="right-panel">
		{% if message %}
			<p style="margin-left:200px;margin-top:200px;font-size:30px"> {{ message }} </p>
		{% endif %}
	</div>
{% endblock %}
