<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/dashboard.css') }}">
</head>
<body>
	<p> Hi, {{ name }} </p>
	<p> <a href="{{ url_for('admin_account_confirm.main', token = token, _external = True) }}">Click here to verify your account</a></p>
</body>