{% extends "dashboard-base.html" %}
{% block right_panel %}
<div class="right-panel">
<div class = "sgp_form">
{% if message %}
<p style="margin-left:20px;margin-top:20px;font-size:30px"> {{ message }} </p>
		{% endif %}
	<form action="{{ url_for('admin_add_customer.main') }}" method = "POST">
	<input type = "text" placeholder = "Name" name = "name" required><br>
	<input type = "email" placeholder = "Email" name = "email" required><br>
	<input type = "submit" value = "SUBMIT">
</form>
</div>
</div>
{% endblock %}