{% extends "dashboard-base.html" %}
{% block right_panel %}
<div class = "right-panel" style = "padding-left:20vw;">
<div ng-app="EmailList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:400px;">
  <header>
    <h3>Recipient List</h3>
  </header>
  <ul class="w3-ul">
    <li ng-repeat="x in products" class="w3-padding-16">{{ '{{x}}' }}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
  </ul>
  <div>
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        <input list="emailid" placeholder="Add Email here" ng-model="addMe" class="w3-input w3-border w3-padding">
      <datalist id="emailid">
      {% for email in emails %}
       <option value="{{ email[0] }}">
      {% endfor %}
      </datalist>
      </div>
      <div class="w3-col s2">
        <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
      </div>
    </div>
    <p class="w3-padding-left w3-text-red">{{ '{{errortext}}' }}</p>
     <p class="w3-padding-left w3-text-red">{{ '{{ message_sent }}' }}</p>
  </div>
  <form>
    <input type="text" Placeholder = "Subject" ng-model = "subject">
    <textarea type="text" ng-model="message">
    </textarea>
  </form>
  <button ng-click="myFunction()">Click me!</button><br>
</div>
</div>
<script type="text/javascript" src = "{{url_for('static', filename='js/compose.js') }}"></script>

{% endblock %}
