{% extends "dashboard-base.html" %}
{% block right_panel %}
<div class="right-panel">
	<table class="table table-hover">
    <tr>
    	<th>Name</th>
    	<td>{{ information[0] }}</td>
    </tr>
    <tr>
    	<th>Email</th>
    	<td>{{ information[1] }}</td>
    </tr>
    <tr>
    	<th>Date Joined</th>
    	<td>{{ information[2] }}</td>
    </tr>
  </table>
 <div style="margin-left:200px;margin-top:80px;">
<form action="{{ url_for('customer_individual_information.main', customer_id =  customer_id ) }}" method = "POST">
<input type="text" placeholder = "Subject" name = "subject" required><br>
 <textarea rows="10" cols="60" name = "message" required>
 </textarea><br>
 <input type="submit" value = "SUBMIT">
</form>
</div>
</div>
{% endblock %}