	{% extends "dashboard-base.html" %}
  {% block right_panel %}
  <div class="right-panel">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date Joined</th>
      </tr>
    </thead>
    <tbody>
  {% for information in result %}
      <tr onClick = "window.document.location = '{{ base_addr }}/customer/{{ information[0] }}' ">
        <td>{{ information[1] }}</td>
        <td>{{ information[2] }}</td>
        <td>{{ information[3] }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  </div>
  {% endblock %}