<!DOCTYPE html>
<head>
	<title>Zota|Admin|Dashboard</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/dashboard.css') }}">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

</head>
<body>
	<div class="left-panel">
		<div class = "left-panel-menu">
		<a href= '{{ url_for("home.main") }}'><h1 style="font-size:55px;color:white;margin-left:40px;">Zota</h1></a>
		<hr>
		<a href="{{ url_for('admin_add_customer.main') }}" id="enter-customer">Enter Customer</a> <br>
		<hr>
		<a href="{{ url_for('customer_information.main') }}" id="customer-information">Cutomer Details</a> <br>
		<hr>
		<a href="{{ url_for('compose.main') }}">Compose</a>
		<hr>
		<a href="{{ url_for('logout.main') }}">Logout</a>
		<hr>
	    </div>
	</div>
	{% block right_panel %}
	{% endblock %}
</body>
