<!DOCTYPE html>
<head>
	<title>Zota|User|Signup</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/login_signup.css') }}">
</head>
<body>
	  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <li><a class="navbar-brand" href='{{url_for("home.main") }}' style="font-size:20px;">Zota Technologies</a></a></li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href='{{url_for("admin_signup.main") }}'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href='{{url_for("admin_login.main") }}'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="sgp_form">
  {% if message %}
      {{ message }}
  {% endif %}
    <form method = "POST" action = "">
      <input type="text" placeholder="Name" name="name" required><br>
      <input type="email" placeholder="Email" name="email" required><br>
      <input type="password" placeholder="Password" name="password" required><br>
      <label style="margin-right:20px;">Gender</label>
      <input type="radio" name="gender" value="m" checked> Male
      <input type="radio" name="gender" value="f" style="margin-left:60px;"> Female<br>
      <input type="submit" value="Signup">
    </form>
</div>
</body>
