<!DOCTYPE html>
<head>
	<title>Zota</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/login_signup.css') }}">
</head>
<body>
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <li class="active"><a class="navbar-brand" href='{{url_for("home.main") }}' style="font-size:20px;">Zota Technologies</a></a></li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href='{{url_for("admin_signup.main") }}'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href='{{url_for("admin_login.main") }}'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div>
  <h1 style="font-size:245px;margin-left:50vw;margin-top:50vh;color:white;">Zota</h1>
</div>
</body>